.HeadedTable {
}

table {
  border-collapse: collapse;
}

td, th {
  padding: 0.3em 1em 0.3em 1em;
  text-align: center;
}

th {
  vertical-align: middle;
}

.HeadedTable-title th {
  padding-bottom: 0;
}

thead tr {
  background-color: grey;
}

tbody tr:nth-child(odd)	{
  background-color: silver;
}
tbody tr:nth-child(even) {
  background-color: gainsboro;
}
